.pagina-inicial {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 10rem;
    padding: 5rem;
}

.quartos {
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
}

.quarto {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
}